.toolbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin: 20px 0;
    vertical-align: top;
}

.toolbar li {
    margin: 0px 5px 0;
    padding: 0 15px 2px;
    align-content: center;
    border: 1px solid rgb(0, 0, 0);
    list-style: none;
    background-color: aquamarine;
}

.toolbar .active {
    background-color: black;
    color: aquamarine;
}