@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);

body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  justify-content: center;

  background: #ffffff;
}

.window {
  background: #fff;
  width: 470px;
  display: flex;
  min-height: 400px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 850px) {}

@media (max-width: 550px) {}